<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Live Streaming Video Cryptography</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/js/bundle.js"></script>
  </head>

  <body>
    <div id="container">
      <h1>cryptographic video</h1>
      <canvas id="cother" width="200" height="150"></canvas><br />
      <video id="v" width="200" height="150"></video>
      <canvas id="cme" width="200" height="150"></canvas>
      <p>Naomi Musgrave, Christopher Su, Grant Timmerman, Anwell Wang</p>
      <form>
          <textarea id="message"></textarea>
          <button id="send" type="button">Send message</button>
      </form>
    </div>
    <div id="messages">
    </div>

    <input type="file" id="file-input" />
    <h3>Contents of the file:</h3>
    <pre id="file-content"></pre>

    <script>
      function readSingleFile(e) {
        var file = e.target.files[0];
        if (!file) {
          return;
        }
        var reader = new FileReader();
        reader.onload = function(e) {
          var contents = e.target.result;
          ReadFile(contents);
        };
        reader.readAsText(file);
      }

      document.getElementById('file-input')
        .addEventListener('change', readSingleFile, false);
    </script>
  </body>
</html>
