<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Live Streaming Video Cryptography</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/js/bundle.js"></script>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>

  <body>
    <div id="container">
      <h1>cryptographic video</h1>
      <canvas id="cother" width="200" height="150"></canvas><br />
      <video id="v" width="200" height="150"></video>
      <canvas id="cme" width="200" height="150"></canvas>
      <p>Naomi Musgrave, Christopher Su, Grant Timmerman, Anwell Wang</p>
      <form>
          <textarea id="message"></textarea>
          <button id="send" type="button">Send message</button>
      </form>
    </div>
    <div id="messages">
    </div>

    <input type="file" id="file-input" />
  </body>
</html>
